<div data-sly-use.trainingList="my.aem.project.aem_training_new.core.models.TrainingList" class="panel-group" id="accordion">
               <div class="panel panel-default" data-sly-list.month="${trainingList.months}">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse${monthList.count}">${month}</a>
                     </h4>
                  </div>
                  <div id="collapse${monthList.count}" class="panel-collapse collapse">
                  	<sly data-sly-list.training="${trainingList.trainings}">
                     	<div class="panel-body" data-sly-test="${training.month == month}">
                        	<li class="list-group-item"><a href="#">${training.title} ${'dd MMMM yyyy' @ format=training.date}</a></li>
                     	</div>
                     </sly>
                  </div>
               </div>
            </div>