<div class="panel-group" id="accordion">

               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">April</a>
                     </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                     <div class="panel-body">

                        <li class="list-group-item"><a href="#">JAVA Training</a></li>

                     </div>
                  </div>
               </div>

            </div>