
<div id="contact" class="container">

            <div class="col-md-4">
               <p>${properties.jcr:infoText}</p>
               <p><span class="glyphicon glyphicon-map-marker"></span> ${properties.jcr:address}</p>
               <p><span class="glyphicon glyphicon-phone"></span> Phone: ${properties.jcr:phoneNumber}</p>
               <p><span class="glyphicon glyphicon-envelope"></span> Email: ${properties.jcr:email}</p>
            </div>
            <div class="col-md-8">
               <div class="row">
                  <div class="col-sm-6 form-group">
                          <div data-sly-resource="${'namefield' @ resourceType='training/components/form/text'}"></div>
                  </div>
                <div class="col-sm-6 form-group">
                         <div data-sly-resource="${'emailfield' @ resourceType='training/components/form/text'}">
                  </div>
                   </div>
                   </div>
               <div data-sly-resource="${'commentfield' @ resourceType='training/components/form/text'}">
                        </div>
               <br>

               <div class="row">
                  <div class="col-md-12 form-group">
                      <div data-sly-resource="${'sendButton' @ resourceType='training/components/form/button'}"></div>
                  </div>
               </div>
            </div>
