<div id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" data-sly-use.topnav="topnav.js">
      <!--****------navigation bar custom component--start-----******* -->
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>                 
               </button>
               <a class="navbar-brand" href="${topnav.root.path}.html">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
               <li><a href="${topnav.root.path}.html">Home</a></li>
                  <li class="nav navbar-nav navbar-left" data-sly-repeat="${topnav.items}">
                    <a href="${item.path}.html">${item.title}</a>
                </li>
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="${item.path}.html">MORE
                     <span class="caret"></span></a>
                     <ul data-sly-list.children="${resource.listChildren}" class="dropdown-menu">
						<li data-sly-list.child="${children.listChildren}"><a href="${child.valueMap['jcr:linkpath']}.html">${child.valueMap['jcr:linktext']}</a></li>

                        <li><a href="${button.link}">Search Results</a></li>
                        <li><a href="${button.link}">Sign-out</a></li>
                     </ul>
                  </li>
                  <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
               </ul>
            </div>
         </div>
      </nav>
 </div>