<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Theme Made By www.w3schools.com - No Copyright -->
      <title>Accenture Mock Project</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="trainingDetailStyle.css">
      <meta data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
		data-sly-unwrap></meta>
		<meta data-sly-call="${clientlib.all @categories='accentureTrainingSite:base'}"
		data-sly-unwrap></meta>
   </head>
   <body>
      <!--****--- trainingDetail custom component--start--***** -->
      <div id="tour" class="bg-2">
         <div class="container">
            <div class="hero">
               <h1>Some Fancy Header Text</h1>
               <p>This space is for some promotional activity..</p>

				
               <img src="TrainingDetails.jpg" />

               <div class="bar"></div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title" >
                     Training Name
                  </h4>
               </div>
               <div class="panel-body text-center">
                  <li class="list-group-item"><p>JAVA Training: 12 March 2016 - 18 March 2016</p></li>
				  <li class="list-group-item">Venue: Delhi</li>
                  <li class="list-group-item"><p>Training description to be given here. <br>
                    This training is about. We have created a fictional training website. 
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </li>
               </div>
            </div>
         </div>
      </div>
      <!--****--- trainingDetail custom component--end--***** -->

   </body>
</html>