<div class="bg-1">
         <div class="container">
            <div class="hero">
               <h1>${properties.jcr:promoHeader}</h1>
               <p>${properties.jcr:promoDescription}</p>
               <img src="/content/dam/training/aem.jpg" />
               <div class="bar"></div>
            </div>

            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title" >
                     ${properties.jcr:trainingTitle}
                  </h4>

               <div class="panel-body text-center">
                   <li class="list-group-item">${properties.jcr:trainingType}: ${properties.jcr:trainingDate}</li>
				  <li class="list-group-item">Venue: ${properties.jcr:location}</li>
                   <li class="list-group-item"><p>Training Description:<br>${properties.jcr:trainingDescription} <br>
                  </li>
                </div>
              </div>
 		    </div>
       	</div>





