   <div id="band" class="container text-center">
		<br>
         <div class="row">
            <!--**5**----trainerProfile custom component--start----****-->
            <div class="col-sm-4">
               <p class="text-center"><strong>${properties.jcr:trainername1}</strong></p>
               <br>
            <a href="#demo" data-toggle="collapse">
                <img src="/content/dam/training-site/bandmember.jpg" class="img-circle person" alt="Random Name" height="255" width="255"/>
               </a>
               <div id="demo" class="collapse">
                  <p>${properties.jcr:trainertype1}</p>
                  <p>${properties.jcr:interests1}</p>
                  <p>Member since ${properties.jcr:membersince1}</p>
               </div>
            </div>
    <!--****----trainerProfile custom component--end----****-->
            <!--**5**----trainerProfile custom component--start----****-->
            <div class="col-sm-4">
               <p class="text-center"><strong>${properties.jcr:trainername2}</strong></p>
               <br>
               <a href="#demo2" data-toggle="collapse">
                   <img src="/content/dam/training-site/bandmember.jpg" class="img-circle person" alt="Random Name" height="255" width="255"/>
               </a>
               <div id="demo2" class="collapse">
                  <p>${properties.jcr:trainertype2}</p>
                  <p>${properties.jcr:interests2}</p>
                  <p>Member since ${properties.jcr:membersince2}</p>
               </div>
            </div>
            <!--****----trainerProfile custom component--end----****-->
            <!--**5**----trainerProfile custom component--start----****-->	
            <div class="col-sm-4">
               <p class="text-center"><strong>${properties.jcr:trainername3}</strong></p>
               <br>
               <a href="#demo3" data-toggle="collapse">
                   <img src="/content/dam/training-site/bandmember.jpg" class="img-circle person" alt="Random Name" height="255" width="255"/>
               </a>
               <div id="demo3" class="collapse">
               	  <p>${properties.jcr:trainertype3}</p>
                  <p>${properties.jcr:interests3}</p>
                  <p>Member since ${properties.jcr:membersince3}</p>
               </div>
            </div>
       </div>