	<div id="tour" class="bg-1">

		<div class="container">

           <div class="row text-center">
               <!--****-- Featured training component--start--****-->
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="/content/dam/training/paris.jpg" alt="Paris" width="400" height="300">
                     <p><strong>Angular JS</strong></p>
                     <p>Friday 27 November 2015 Paris</p>
                     <p>Angular JS Lorem ipsum dolor </p>
                     <button class="btn" data-toggle="modal" data-target="#angular">Details!!!</button>
                  </div>
               </div>
               <!--****-- Featured training component--end--****-->
               <!--****-- Featured training component--start--****-->
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="/content/dam/training/newyork.jpg" alt="Paris" width="400" height="300">
                     <p><strong>JAVA</strong></p>
                     <p>Friday 27 November 2015 Newyork</p>
                     <p>JAVA Training TLorem ipsum </p>
                     <button class="btn" data-toggle="modal" data-target="#java">Details!!!</button>
                  </div>
               </div>
               <!--****-- Featured training component--end--****-->
               <!--****-- Featured training component--start--****-->
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="/content/dam/training/sanfran.jpg" alt="Paris" width="400" height="300">
                     <p><strong>Drupal </strong></p>
                     <p>Friday 27 November 2015 San Francisco</p>
                     <p>Drupal Lorem ipsum dolor sit amet  </p>
                     <button class="btn" data-toggle="modal" data-target="#drupal">Details!!!</button>
                  </div>
               </div>

            </div>

        </div>

		<!--****-- Featured training component--end--****-->
 		<!--Featured training pop-up/ Modal start-->

         <div class="modal fade" id="angular" role="dialog">
            <div class="modal-dialog">
              	 <!--Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4><span class="glyphicon glyphicon-hand-right"></span> Interested???</h4>
                  </div>
                  <div class="modal-body">
                   	 <div class="thumbnail text-center">
                   	    <img src="/content/dam/training/paris.jpg" alt="Paris" width="400" height="300">
                      	<p><strong>Angular JS</strong></p>
                     	<p>Friday 27 November 2015</p>
                       	<p>Angular JS Angular Lorem ipsum dolor sit ametLorem ipsum dolor sit amet, 
                       	 consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing 
                      	 elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, 
                       	 consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem 
                       	 ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </div>
                  </div>
                  <div class="modal-footer">
                    	<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                    	<span class="glyphicon glyphicon-ok"></span> View Topics!!!
                     	</button>
                     	<p>Need <a href="#">help?</a></p>
                 	</div>
               	</div>
           	 </div>
         </div>
         <div class="modal fade" id="java" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4><span class="glyphicon glyphicon-hand-right"></span> Interested???</h4>
                  </div>
                  <div class="modal-body">
                     <div class="thumbnail text-center">
                        <img src="/content/dam/training/newyork.jpg" alt="Paris" width="400" height="300">
                        <p><strong>JAVA</strong></p>
                        <p>Friday 27 November 2015 Newyork</p>
                        <p>JAVA Training Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                     <span class="glyphicon glyphicon-ok"></span> View Topics!!!
                     </button>
                     <p>Need <a href="#">help?</a></p>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="drupal" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4><span class="glyphicon glyphicon-hand-right"></span> Interested???</h4>
                  </div>
                  <div class="modal-body">
                     <div class="thumbnail text-center">
                        <img src="/content/dam/training/sanfran.jpg" alt="Paris" width="400" height="300">
                        <p><strong>Drupal</strong></p>
                        <p>Friday 27 November 2015 San Francisco</p>
                        <p>Drupal Training Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                     <span class="glyphicon glyphicon-ok"></span> View Topics!!!
                     </button>
                     <p>Need <a href="#">help?</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>