<footer class="text-center">
         <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
         <span class="glyphicon glyphicon-chevron-up"></span>
         </a><br><br>

         <p>Bootstrap Theme Modified By <a href="http://www.Accenture.com" data-toggle="tooltip" title="Visit Accenture">www.accenture.com</a></p>

         <div class="footerList cq-element-footerToolbar" id="cq-gen6">&nbsp;&nbsp;
         <a href="/content/traininSite/en/toolbar/facebookPage.html" class="first" id="cq-gen29">Facebook Page</a>
         <a href="/content/traininSite/en/toolbar/twitterPage.html" id="cq-gen30">Twitter Page</a>
         <a href="/content/traininSite/en/toolbar/contactUs.html" id="cq-gen31">Contact Us</a>
         </div>
      </footer>