<footer class="text-center">
         <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
         <span class="glyphicon glyphicon-chevron-up"></span>
         </a><br><br>

         <p>Bootstrap Theme Modified By<a href="${properties.jcr:adress}.html" data-toggle="tooltip" title="Visit ${properties.jcr:name}">${properties.jcr:name}</a></p>

		 <div data-sly-list.children="${resource.listChildren}" class="footerList cq-element-footerToolbar" id="cq-gen6">&nbsp;&nbsp;

			<span data-sly-list.child="${children.listChildren}">
				<a href="${child.valueMap['jcr:linkpath']}.html">${child.valueMap['jcr:linktext']}</a>
            </span>

         </div>
      </footer>